.fa-brands {
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px;
  color: white;
  transition: all 0.3s ease;
}

.fa-brands:hover {
  color: black;
  background-color: white;
  transition: all 0.2s ease;
}

.play-btn {
  background-color: rgb(128, 94, 240) !important;
  color: white !important;
  font-weight: bold !important;
  border-radius: 0 !important;
  padding: 12px 30px !important;
  transition: all 0.9s ease !important;
  border: none !important;
}

.play-btn:hover {
  background-color: white !important;
  color: black !important;
  transition: all 0.9s ease;
}

#mainbg {
  height: 100vh;
}

#mainbg::before {
  content: "";
  background: url(../img/banner-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: zoom-in 8s alternate infinite ease-in-out;
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: white !important;
  background-color: transparent;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url(../img/menu.png) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}

#homedrop {
  display: none !important;
}

nav ul li a {
  transition: all 0.6s ease;
}

nav ul li a:hover {
  color: rgb(128, 94, 240) !important;
  transition: all 0.6s ease;
}

nav ul li:hover #homedrop {
  display: block !important;
  position: absolute !important;
  background-color: rgb(12, 13, 17);
  width: 20%;
  line-height: 30px;
  margin-top: 0%;
  z-index: 3 !important;
}

nav ul li:hover #homedrop li {
  transition: all 1s ease;
  padding: 5px 20px !important;
}

nav ul li:hover #homedrop li:nth-child(1) {
  margin-top: 5%;
}

nav ul li:hover #homedrop li:hover {
  background-color: rgb(128, 94, 240) !important;
  color: white !important;
  transition: all 1s ease;
}

nav ul li:hover #homedrop li:hover a {
  color: white !important;
}

.reveal {
  position: relative;
  transform: scale(0.7);
  opacity: 0;
  transition: ALL 1.5s ease;
}

.reveal.active {
  transform: scale(1);
  opacity: 1;
}

#bg2{
  position: relative;
}

#bg2::before{
  content: "";
  background: url(../img/4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#searchinp{
  background-color: rgb(128, 94, 240) !important;
  border: 1px solid rgb(128, 94, 240) !important;
  outline: none !important;
  color: white !important;
  border-radius: 0px !important;
  padding: 10px 10px !important;
}

#searchinp:focus{
  box-shadow: none !important;
}

#searchinp::placeholder{
  color: white !important;
}

#closebtn{
  background-color: rgb(128, 94, 240);
  transition: all 0.4s ease;
}

#closebtn:hover{
  background-color: transparent;
  color: rgb(128, 94, 240) !important;
  transition: all 0.4s ease;
}

#closebtn:focus{
  outline: none !important;
  border: none !important;
}

#searchbar{
  display: none;
  animation: search 0.5s ease;
  background-color: rgb(12,13,17);
}

@keyframes search{
  0%{
    transform: translateY(-70px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

#bgimg5{
  position: relative;
}

#bgimg5::before{
   content: "";
   background: url(../img/5.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}


.accordion-button:focus{
  box-shadow: none !important;
}

#footerbg{
  background: url(../img/footer.jpg) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.form-control:focus{
  border: none !important;
  box-shadow: none !important;
}

#footera li a{
  transition: all 0.5s ease;
}

#footera li a:hover{
  color: rgb(128, 94, 240) !important;
  transition: all 0.5s ease;
}